<h1 class="animated fadeIn nameMas">{{heroe.nombre}} <small class="fecha">{{heroe.aparicion}}</small></h1>
<hr>

<div class="row animated fadeIn fast contenido">

    <div class="col md-4 text-center imgn">
        <div class="img"><img width="300px" src="{{heroe.img}}" alt="" class="img-fluid"></div>
        <br><br>
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block" style="cursor: url('assets/img/handCursor.gif'),auto ;">Regresar</a>
    </div>
    <div class="col md-8 info">
        <h3 class="name">{{heroe.nombre}}</h3>

        <hr>
        <p class="bio">
            {{heroe.bio}}
        </p>
        <div *ngIf="heroe.casa == 'Marvel' else dc">
            <img src="assets/img/marvel.jpg"  alt="" width="150px">
        </div>
        <ng-template #dc>
            <img src="assets/img/dc.jpg" alt="" width="150px">
        </ng-template>
    </div>
    

</div>


