.nameMas{
    font-family: 'Assemble';
    font-size: 80px;
}

.name{
    margin-top: 20px;
    font-family: 'Bangers';
    font-size: 35px;
}

.fecha{
    text-align: right;
    font-family: 'Acme';
    font-size: 45px;
    margin-left: 30px;
}

.bio{
    text-align: justify;
    padding: 5px;
    margin: 0;
    font-family: 'Mouse';
    font-size: 23px;
    
}
.img{
    border: 5px dashed  rgb(255, 213,2);
   
}
a{
    background: rgb(32, 125, 231);
    border: 5px dashed  rgb(255, 213,2);
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: 'Cartoon';
    font-size: 35px;
    font-weight: 600;
    cursor: url("../../assets/img/handCursor.gif"),auto;
    color:black;
}
a:hover{
    background: rgb(255,213,2);
    color: rgb(32, 125, 231);
}
.contenido{
    background: rgb(252, 209, 111);
}

.imgn{
    margin-top: 20px;
}

.img{
    background: rgb(32, 125, 231);
}

.info,.nameMas{
    background: rgb(255, 213, 2);
    border: 2.5px solid rgb(210, 3, 3);
    padding: 8px 20px;
    margin: 0;
}
