@media (max-width:992px){
    
    .nav_, ul{
        width: 100%;
    }

    .nav_ ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-cen{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .bus-inp{
        display: flex;
        justify-content: center;
    }

    .bus{
        width: 180px;
        height: 35px;
        margin-top: 35px;
    }

    .bus:hover{
        transform: scale(1.1);
    }
    
}

ul li{
    margin-right: 30px;
}

nav{
    background: rgb(32, 125, 231);
    box-shadow: 0 0 5px 5px ;
}

input{
    font-family: 'Engcomica';
    font-size: 18px;
}

a{

    color: rgb(255, 251, 3);
    
    font-weight: bold;

    color: black;
    /* font-family: 'Skranji';
    font-size:30px */;
    font-size:25px;

}

a:hover{
    color: white;
}

.active{
    transform: scale(1.2);
    font-weight: 800;

    background: rgb(213, 115, 2);

    border-radius: 20px;
   
}

.btn{
    background: rgb(219, 110, 0);
    color: black;
    font-family: 'Engcomica';
    font-size: 15px;
}

#myin:focus{
    background: black;
    color: antiquewhite;
    border-radius: 15px;
    transform: scale(1.1);
}