@media (max-width:992px){
    
    .nav_, ul{
        width: 100%;
    }

    .nav_ ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-cen{
        display: flex;
        justify-content: center;
    }

    /* .boton-icon{
        display: flex;

    }

    .icono{
        width: 100vw*0.8;
        border: 2px solid red;
        padding-left: 40%;
    }

    .boton{
        width: 100vw * 0.2;
        border: 2px solid red
    } */

    
}
// a:hover{
//     transform: scale(1.2);
//     font-weight: 800;
//     background: rgb(176, 255, 151);
//     border-radius: 20px;
// }

nav{
    background: rgb(32, 125, 231);
    box-shadow: 0 0 5px 5px ;
}
a{
    color: black;
}
.active{
    transform: scale(1.2);
    font-weight: 800;
    background: rgb(176, 255, 151);
    border-radius: 20px;
}
.btn{
    background: rgb(141, 255, 141);
}
#myin:focus{
    background: black;
    color: antiquewhite;
    border-radius: 15px;
    transform: scale(1.1);
    
}