<div class="titulo">
    <h1 class="text-center">Heroes <small class="tit">Marvel y DC </small></h1>
</div>

<div class="card-columns">
    
    <div class="card" *ngFor = "let h of misHeroes,let i = index">
        <img src={{h.img}} class="card-img-top" alt="..." >
        <div class="card-body">
            <h5 class="card-title name">{{h.nombre}}</h5>
            <p class="card-text bio">{{h.bio}} </p>
            <p class="card-text fecha"><small class="text-muted" [style.font-size.px]="'20'">{{h.aparicion}} </small></p>
        </div>
        <div style="cursor: url('assets/img/handCursor.gif'),auto ;" class="btn"><a [routerLink]="['/heroe',i]" class="mb-3 btn btn-outline-primary btn-block" style="cursor: url('assets/img/handCursor.gif'),auto ;">Ver Mas</a></div>
    </div>
</div>