h1,.tit{
    font-family: 'Bungee Shade';
}

.titulo{
    background: rgba(0, 0, 0, 0.574);
    color: white;
    border-radius: 15px;
}

.card{
    background: rgb(255, 213, 2);
    border: 2.5px solid rgb(210, 3, 3);
    padding: 0;
    margin: 0;
    margin-top: 5px;
}


.name{
    text-align: center;
    margin-top: 20px;
}

.bio{
    text-align: justify;
    padding: 5px;
    margin: 0;
}

.fecha{
    text-align: right;
}
img{
    background: rgb(32, 125, 231);
}

a{
    background: rgb(213, 115, 2);
    color: rgb(138, 5, 5);
    border: 2px solid rgb(164, 2, 2);
    width: 80%;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}