.card{
    background-color: rgba(223, 161, 106, 0.603);
    border: 2.5px solid rgb(210, 3, 3);
}

.name{
    text-align: center;
}

.bio{
    text-align: justify;
}

.fecha{
    text-align: right;
}