.container{
    display: flex;
    height: 80vh;
    align-items: center;

}
#mybutton{
    width: 20%;
    display: block;
    margin: auto;
    
    
}
#mybutton:hover{
    color: black;
    font-weight: 800;
}
h1{
    text-shadow: 4px 2px 3px rgb(212, 212, 212);
    font-family: 'Engcomica';
    font-size: 80px;
}
input{
    cursor: url("../../assets/img/cursor.gif"),auto;
}

.femenino, .masculino{
    display: inline-block;
    margin: 0em 5em;
}
.masculino{
    float: right;
}

.radio{
    
    width: 40%;
    display: block;
    margin: auto;
    
}
.modal-content{
    background-color: rgb(51, 51, 51);
}
label,.modal-title{
    color: antiquewhite;
    display: block;
    text-align: center;
 
}
.modal-header img{
    border-radius: 50%;
    margin-left: 1em;
}
.jumbotron{
    background-image: url('../../assets/img/fondo_jumbo.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 15px 10px 7px rgba(0,0,0,0.8);   
}
p,label,input,.modal-title,.modal-body{
    font-family: "Skranji";
}
input{
    font-weight: 800;
    font-size: 1.5em;
}
.form-group p{
    color: rgb(251, 255, 33);
    text-align: center;
    
}
strong{
    text-align: center;
}
.interesa{
    width: 100%;
    display: flex;
    justify-content: center;
}