<div class="container">
<div class="jumbotron" style="border-radius: 20px;">
    <h1 class="display-4" style="text-align: center;">Bienvenido</h1>
    <p class="lead">Atrevete a conocer el mundo de los heroes de MARVEL y DC comics conociendo la información más relevante de ellos.<br> 
    En este sitio web encontraras datos curiosos de algunos heroes muy conocidos en ambos mundos(MARVEL y DC comics).</p>
    <hr class="my-4">
    <p class="interesa"><strong>Si te interesa la información puedes dejarnos algunos de tus datos para mantenerte al corriente con las novedades.</strong></p>
    <a style="cursor: url('assets/img/handCursor.gif'),auto ;" id="mybutton" class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target="#exampleModal" role="button" (click)="reg()">Registrar</a>
</div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static"  data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">REGISTRO</h5>
        <img width="60px" src="assets/img/marvel.jpg" alt="">
        <img width="60px" height="40px" src="assets/img/dc.jpg" alt="">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="limpia()"  style="cursor: url('assets/img/handCursor.gif'),auto;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="datos" (ngSubmit)="registrar()">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Nombre</label>
            <p *ngIf="this.datos.get('nombre')?.errors?.['required']">El campo no puede quedar vacio</p>
            <p *ngIf="this.datos.get('nombre')?.errors?.['minlength']">(Debe tener minimo 3 caracteres)</p>
            <p *ngIf="this.datos.get('nombre')?.valid">Nombre valido</p>
            
            <input formControlName="nombre"  type="text" class="form-control" id="name" >
          </div>

          <div class="form-group">
            <label for="" class="col-form-label">Sexo</label><br>
            <p *ngIf="this.datos.get('sexo')?.errors?.['required']">El campo no puede quedar vacio</p>
            <div class="femenino">
                <label for="recipient-radio-femenino">Femenino</label>
               
          
                <input formControlName="sexo"  type="radio" class="form-control radio" id="recipient-radio-femenino" name="sex" value="femenino" >
            </div>
            <div class="masculino">
                <label for="recipient-radio-masculino">Masculino</label>
                <input formControlName="sexo"  type="radio" class="form-control radio" id="recipient-radio-masculino" name="sex" value="masculino">
            </div>
          </div>
          
          <div class="form-group">
            <label for="recipient-email" class="col-form-label">Correo electronico</label>
            <p *ngIf="this.datos.get('correo')?.errors?.['required']">El campo no puede quedar vacio.</p>
            <p *ngIf="this.datos.get('correo')?.errors?.['email']">Correo no valido.</p>
            
            <input formControlName="correo" type="text" class="form-control" id="recipient-email"  required>
          </div>
          
          <div class="form-group">
            <label for="recipient-date" class="col-form-label">Fecha</label>
            <p *ngIf="this.datos.get('fecha')?.errors?.['required']">El campo no puede quedar vacio.</p>
           
            <input formControlName="fecha"   type="date" class="form-control"  id="recipient-date" required >
          </div>
          

        </form>
      </div>
      <div class="modal-footer">
        <button  type="button" class="btn btn-secondary" data-dismiss="modal" (click)="limpia()" style="cursor: url('assets/img/handCursor.gif'),auto;">Cerrar</button>
        <button id="reg" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalConfirmacion" data-dismiss="modal" (click)="registrar()"  style="cursor: url('assets/img/handCursor.gif'),auto;" [disabled]="datos.invalid"> Registrar datos</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal que se activa cuando se presiona el boton de registrar-->
<div class="modal fade" id="modalConfirmacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registro exitoso</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="color: antiquewhite;">
          Datos guardados exitosamente. Te mantendremos informado sobre novedades! Gracias.
        </div>
        <div class="modal-footer">
          <button id="confirmacion-button" type="button" class="btn btn-secondary" data-dismiss="modal"  style="cursor: url('assets/img/handCursor.gif'),auto;">OK</button>
          
        </div>
      </div>
    </div>
  </div>
  

